**/.git
**/.gitignore
**/.vs
**/.vscode
**/*.user
**/*.suo
**/bin
**/obj
**/out
**/publish
**/App_Data/*.db
**/App_Data/*.db-journal
**/App_Data/*.db-shm
**/App_Data/*.db-wal
**/node_modules
**/logs
**/*.md
LICENSE
